<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwjCc6bqjbrrsZynSDIZSgK9Oqk8xNI-M</string>
	<key>GCM_SENDER_ID</key>
	<string>374583056413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examen2Programovil</string>
	<key>PROJECT_ID</key>
	<string>examen2-9af98</string>
	<key>STORAGE_BUCKET</key>
	<string>examen2-9af98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374583056413:ios:2935e4c31e5e42ea920ef4</string>
</dict>
</plist>